@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  height: 100%;
  position: relative;
  font-family: 'Roboto', cursive ;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0b3d91;
  --secondary-color: #ffffff;
  --third-color: #fc3c23 ;
  --backgroundColor: #000;
  position: relative;
  background: var(--backgroundColor);
  /* background: radial-gradient(circle, rgba(250, 229, 2, 1) 1%, rgba(214, 140, 21, 1) 10%, rgb(14, 14, 14) 30%); */
  background-repeat: no-repeat;
  color: var(--secondary-color);
}

main {
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
}
